# 知友后端 - 环境变量
# 微信小程序
WX_APPID=wxddf9baefb7fd689c
WX_SECRET=

# 腾讯云IM
TIM_SDKAPPID=16001410146
TIM_SECRET=a6db28caeb903ed6117d3af50904225ee827bd9fccfa571a5b98a0e5395a04d7

# Supabase
SUPABASE_URL=https://hqgaskijzkhoqqwgfrrb.supabase.co
SUPABASE_ANON_KEY=sb_publishable_U7UQhjydsH5aQIYjpov2ug_6zQmus1C
SUPABASE_SERVICE_ROLE=

# 腾讯位置服务
MAP_KEY=

# 服务器
PORT=3001
